In [1]:
from web_spider import get_infobox
import pandas as pd
from time import time
from concurrent.futures import ThreadPoolExecutor

In [2]:
def dictToTable(d):
    dnew = {key:val for key,val in d.items() if val!=None }
    table = pd.DataFrame.from_dict(dnew,orient='index').reset_index()
    table = table.rename(columns={'index':'Company'})
    return table

In [3]:
n=0
def get_infobox_thread(name,d):
    d[name]=get_infobox(name)
    global n
    n+=1
    if not n%100:
        print(n)

In [4]:
data = pd.read_pickle("quandl_ib_missing_dict.pk")
company = list(data.values())
company[:10]

['Electronic Arts Inc',
 'Minerals Technologies Inc',
 'Crossamerica Partners Lp',
 'William Hill Plc',
 'Lilis Energy Inc',
 'Bp Midstream Partners Lp',
 'Tesaro Inc',
 'Torotel Inc',
 'Blue Hills Bancorp Inc',
 'Cyclacel Pharmaceuticals Inc']

In [5]:
len(company)

36559

In [6]:
t0 = time()
dth={}
executor = ThreadPoolExecutor(1000)
for i in company:
    executor.submit(get_infobox_thread, i,dth)
t1 = time(); d1 = t1 - t0

100
200

/home/ywang8897/anaconda/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 884 of the file /home/ywang8897/anaconda/lib/python3.6/threading.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500

In [8]:
d1/60

151.9887654344241

In [9]:
table = dictToTable(dth)

In [10]:
table.head()

,Company,Traded as,Industry,Founded,Products,Number of employees,Website,Type,Founder,Headquarters,...,Managed by,Methods,Revenue .mw-parser-output .nobold{font-weight:normal}(2015),Expenses (2015),Employees (2015),Managing director,Profit,ERP,HAAT,Webcast
0,01 Communique Laboratory Inc,NaN,Software,1992,"Remote Access Software, Online Help Desk Suppo...",15,www.01com.com,NaN,NaN,"Mississauga, Ontario, Canada",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 800 Contacts Inc,NaN,Contact lens retail,1995,Contact lenses,NaN,www.1800contacts.com,NaN,Jonathan C. Coon,"Draper, Utah",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 800 Flowers Com Inc,NASDAQ: FLWS (Class A)Russell 2000 Component,Retail,1982,"Flowers, gift baskets, plants, gourmet food, c...",NaN,www.1800flowers.com,Public,James McCann,"Carle Place, New York, United States",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1&1 Drillisch Ag,FWB: DRI,Telecommunications,1983 (1983),Mobile virtual network operator,"380 (average, 2010)",www.1und1-drillisch.de,NaN,NaN,"Maintal, Germany",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000Mercis,NaN,NaN,2006,NaN,NaN,www.albatrosscx.com,NaN,NaN,"Dubai, UAE",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
table.to_csv("wiki_36K.csv")